.accordion {
  border: 1px solid black;
  margin: 18px;
  padding: 10px;
  position: relative;
}
h1,
.accordion {
  text-align: center;
}

span {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
